@{
    ViewData["Title"] = "View orders";
}

<html>
<head>
    <title>Список заказов</title>
</head>
<body>
    <table style = "width: 100%;">
        <tr>
            <td>Id</td>
            <td>SenderCity</td>
            <td>SenderAdress</td>
            <td>ReceiverCity</td>
            <td>ReceiverAdress</td>
            <td>Weight</td>
            <td>ReciveDate</td>
        </tr>
        @foreach (var order in Model)
        {
        <tr>
            <td>@order.Id</td>
            <td>@order.SenderCity</td>
            <td>@order.SenderAdress</td>
            <td>@order.ReceiverCity</td>
            <td>@order.ReceiverAdress</td>
            <td>@order.Weight</td>
            <td>@order.ReciveDate.ToShortDateString()</td>
        </tr>
        }
    </table style>
</body>
</html>

